.page {
  font-family: var(--main-font, 'Courier New');
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: start;
  align-items: start;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--text-color);
  border-block-start: 1px solid var(--text-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--text-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--text-color);
}

.header__theme-menu-button_active {
  border-color: inherit;
  pointer-events: none;
}

.rec {
  position: absolute;
  display: var(--block);
  justify-self: end;
  inset-block-start: 10px;
  inset-inline-end: 18px;
}

.rec::before {
  content: "REC";
  color: var(--accent-color);
  font-size: 18px;
}

.rec::after {
  content: "";
  position: relative;
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  inset-block-end: 1px;
}

.header__titel {
  align-self: center;
  color: var(--titel-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.title-decor {
  align-self: center;
  color: var(--paragraph-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

/* Медиа запросы */

@media (width >=768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__titel {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .rec {
    inset-block-start: 20px;
    inset-inline-end: 28px;
  }

  .title-decor {
    justify-self: end;
    inline-size: clamp(22.75rem, -1.063rem + 49.609vw, 30.688rem);
  }
}

@media(width >=1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-inline-start: 15px;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__titel {
    text-shadow: 4px 4px 0px #ff0070;
  }
}

/* Медиа запросы */

.main {
  padding: 40px 10px 40px 10px;
}

.content-section {
  margin-block-end: 50px;
}

.title { 
  margin-block-end: 20px;
  color: var(--text-color); 
  font-weight: 700; 
  font-size: 18px; 
}

.link { 
  text-decoration: none; 
  text-shadow: 2px 2px 0 var(--accent-color); 
} 
 
.link:hover { 
  border-block-end: 1px solid var(--main-text-color); 
} 
 
.link:focus { 
  outline: none; 
} 
 
.link:focus-visible { 
  outline: 1px solid var(--main-text-color); 
}

.content-section__article-list-item:not(:last-of-type){
  margin-block-end: 30px;
}

.content-section__article-list-item:nth-of-type(3) {
  margin-block-end: 20px;
}

.article-titel {
  margin-block-end: 10px;
  color: var(--paragraph-color);
  font-size: 18px;
  background-color: var(--accent-color); 
}

.article-paragraph {
  color: var(--main-text-color); 
  font-size: 18px; 
  line-height: 23px;
}

.heading {
  margin-block-end: 20px;
  color: var(--paragraph-color);
  background-color: var(--accent-color);
}

.article-title-advanced {
  font-weight: 400; 
}

.gallery-section__container { 
  display: grid; 
  grid-template-rows: auto; 
  gap: 10px; 
} 
 
.image-sunset { 
  object-fit: cover; 
  inline-size: 100%; 
  block-size: auto; 
} 
 
.image-ice-cream { 
  object-fit: cover; 
  inline-size: 100%; 
  block-size: auto; 
} 
 
.image-tape { 
  object-fit: cover; 
  inline-size: 100%; 
  block-size: auto; 
} 
 
.image-books { 
  object-fit: cover; 
  inline-size: 100%; 
  block-size: auto; 
} 
 
.image-street { 
  object-fit: cover; 
  inline-size: 100%; 
  block-size: auto; 
} 

.gallery-section .heading{
  margin-block-end: 10px;
}

/* Медиа запросы */

@media (width >=768px) { 
  .main { 
    padding: 60px 20px 60px 20px; 
  } 

  .content-section {
    margin-block-end: 80px;
  }

  .focus-section { 
    display: grid; 
    grid-template-columns: clamp(14.75rem, -0.063rem + 30.859vw, 19.688rem) 1fr; 
    gap: 20px;  
  }

   .content-section__article-list-item.list-item-large-gap {
    margin-block-end: 20px;
  } 

  .title { 
    inline-size: clamp(14.75rem, -0.063rem + 30.859vw, 19.688rem); 
  }

  .advice-section { 
    display: grid; 
    grid-template-columns: clamp(14.75rem, -0.063rem + 30.859vw, 19.688rem) 1fr; 
    gap: 20px; 
  } 

  .gallery-section__container { 
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: auto;  
    grid-template-areas:  
      "sunset sunset donut" 
      "player books donut" 
      "player quarter quarter";  
    gap: 20px 20px; 
    margin-block-start: 20px; 
  } 
 
  .image-sunset { 
    grid-area: sunset; 
    block-size: 100%; 
  } 
   
  .image-ice-cream { 
    grid-area: donut; 
    block-size: 100%; 
  } 
   
  .image-tape { 
    grid-area: player; 
    block-size: 100%; 
  } 
   
  .image-books { 
    grid-area: books; 
    block-size: 100%; 
  } 
   
  .image-street { 
    grid-area: quarter; 
    block-size: 100%; 
  } 
}

@media(width >=1024px) { 
  .card-list { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
  } 

  .less{
    margin-block-end: 68px;
  }

  .content-section__article-list-item.list-item-large-gap-gaper {
    margin-block-end: 20px;
  } 
}
/* Медиа запросы */

.footer {
  display: grid;
  min-block-size: 668px;
  block-size: 100vh;
}

.final-titel {
  justify-self: center;
  align-self: center;
  color: var(--titel-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0px var(--accent-color);
}

/* Медиа запросы */

@media (width >=768px) {
  .final-titel {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media(width >=1024px) {
  .final-titel {
    text-shadow: 2px 2px 0px #ff0070;
  }
}